@using BlazorDAL.Models;
@using BlazorDAL;
@using BlazorUI.Api;
@inject DialogService dialogService;
<fieldset class="border rounded-3 p-3">
    <div class="row">
     <legend class="col-form-label col-sm-2 pt-0">Bobin Bilgileri</legend>
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn Size="12" SizeMD="12">
           <div class="container text-center">

              <div class="row">
                    <div class="col-sm">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Bobin Numarası</RadzenText>
                            <RadzenTextBox @bind-Value=pdiDto.EN_COIL_ID class="textBox"></RadzenTextBox>
                    </div>
                <div class="col-sm">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Bobin Kodu</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.OIL_CODE class="textBox"></RadzenNumeric>
                </div>
                        <div class="col-sm">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Dış Çap</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.OUT_DIA class="textBox"></RadzenNumeric>
                        </div>
                        <div class="col-sm">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Kalınlık (mm)</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.THICKNESS class="textBox"></RadzenNumeric>
                        </div>
                </div>
                   <div class="row">
             
                <div class="col-sm">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Ağırlık (kg)</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.OIL_WEIGHT class="textBox"></RadzenNumeric>
                </div>
                        <div class="col-sm">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Uzunluk (m)</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.LENGTH class="textBox"></RadzenNumeric>
                        </div>
                        <div class="col-sm">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="text-align:center">Genişlik (cm)</RadzenText>
                            <RadzenNumeric ShowUpDown="false" @bind-Value=pdiDto.WIDTH class="textBox"></RadzenNumeric>
                        </div>
                      
                    </div>

           </div>
        </RadzenColumn>
    </RadzenRow>
    </div>
    </fieldset>
    <div class="container-1" >
    <div class="row mt-3 mr-1 justify-content-end p-0 divScreen  position-relative bottom-0 customClass">
   <div class="col-2 divCustomClass divScreen">
        <RadzenButton id="btnDlg" Icon="done" Style="background-color:blue;color:white" class="dlgBtn" Click="@SavePdi" Text="Kaydet" />
</div>
        <div class="col-3 divCustomClass divScreen">
        <RadzenButton id="btnDlg" Icon="done" Style="background-color:blue;color:white" class="dlgBtn" Click="@SavePdi" Text="Kaydet ve Kapat" />
    </div>
        <div class="col-2 divCustomClass divScreen">
    <RadzenButton id="btnDlg" Style="color:white;background-color:red;" ButtonStyle="ButtonStyle.Danger" class="dlgBtn" Click="@ClosePdiDlg" Text="İptal" />
    </div>

</div>
</div>
<style>
    .dlgBtn {
        border: 1px 2px;
        border-radius: 10px;
    }

</style>
@code {
    [Parameter]
    public string EnCoilId { get; set; } = "";

    [Parameter]
    public string dlgType { get; set; } = "create";

    private PDI pdiDto = new PDI { };
    [Inject]
    PdiApi itemApi { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (dlgType == "create")
        {
            pdiDto = new PDI { };
        }
        if (dlgType == "update")
        {
            pdiDto = await itemApi.GetPdi(EnCoilId);
        }
        await base.OnInitializedAsync();

    }
    void ClosePdiDlg()
    {

        dialogService.Close(true);

    }
    async void SavePdi()
    {

        if (dlgType == "create")
        {
            await itemApi.AddPdi(pdiDto);

        }
        if (dlgType == "update")
        {
            await itemApi.UpdatePdi(pdiDto);
        }
        ClosePdiDlg();
    }

}
